<div class="d-flex flex-column flex-md-row align-items-center justify-content-between px-3 py-2 mb-4 border-bottom fixed-top bg-white">
  <img src="assets/images/logo.png" alt="" style="height: 70px">
  <nav class="d-inline-flex mt-2 my-md-0 text-uppercase" style="font-style: larger;">
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/">Home</a>
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/shop">Shop</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Contact Us</a>
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5" style="color:black"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-primary me-2">Sign Up</a>
    <a class="btn btn-outline-success me-3">Login</a>
  </div>
</div>
